{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        $(function () {

            var dostepni = [
                    "Lechu Copa",
                    "Szymon Matyla"
            ];

            function log (message) {
                $("<div>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }
            /*

                    DZIAŁAJĄCY AUTOCOMPLETE
                    pobiera dane pacjenta
                    zwraca obiekt :

                        - id : id_pacjenta
                        - value : czyli treść do wyśiwetleniea : imie + nazwisko
                        - label : j.w.



             */

            $("#pacjent").autocomplete({

                source: Routing.generate('pobierz_pacjenta'),
                minLength: 3,
                select: function (event, ui) {
                    //event.preventDefault();
                    //('#pacjent').val(ui.item.label);
                    log( ui.item ?
                    "Wybrano" + ui.item.id :
                    "Nie wybrano , wartość była" + this.value);
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }

            });


        });




    </script>
    <div class="section group">
        <div class="col span_1_of_3">

            <div class="ui-widget">

                <label for="pacjent">Wyszukaj pacjenta:</label>
                <input id="pacjent">
            </div>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial">
                Result:
                <div id="log" style="height: 200px; width:300px; overflow: auto;" class="ui-widget-content">
                </div>
            </div>

        </div>
        <div class="col span_2_of_3">
           {% render(controller('LogopediaBundle:Default:artykulacja')) %}

        </div>
    </div>




{% endblock %}

