{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });

    </script>
    <br>
    <br>

    <div class="section group">



        <div class="col span_3_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#spotkania">Spotkania</a></li>

                </ul>

                <div class="tab-content">
                    <div id="spotkania" class="tab active">
                        <div class="CSSTableGenerator">
                            <table>
                                <tr>
                                    <td>Początek</td>
                                    <td>Imię i nazwisko</td>
                                    <td>Wybierz</td>
                                </tr>
                                {% for dzisiaj in dzisiaj %}
                                    <tr>
                                        <td>{{ dzisiaj.start |date ('H:i') }}</td>
                                        <td>{{ dzisiaj.pacjent.imie }} {{ dzisiaj.pacjent.nazwisko }}</td>
                                        <td><a href="{{ path('spotkanie',{'id': dzisiaj.id, 'id_pacjenta': dzisiaj.pacjent.id }) }}"> Przejdź</a></td>

                                    </tr>
                                {% endfor %}
                            </table>


                        </div>


                    </div>


                </div>
            </div>
        </div>
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#dzisiaj">Dzisiaj</a></li>

                </ul>

                <div class="tab-content">
                    <div id="dzisiaj" class="tab active">
                        Spotkania zaplanowane na dzisiaj
                    </div>


                </div>
            </div>
        </div>
    </div>




{% endblock %}

