{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });

    </script>
    <br>
    <br>

    <div class="section group">


        <div class="col span_3_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#artykulacja">Formularz artykulacji</a></li>
                    <li><a href="artykulacja">Zalecenia</a></li>
                    <li><a href="obrazki">Zestawy obrazków</a></li>
                </ul>

                <div class="tab-content">
                    <div id="artykulacja" class="tab active">

                    </div>

                    <div id="zalecenia" class="tab">

                        {{ spotkanie.start |date ('H:i')}}
                </div>



                    <div id="obrazki" class="tab">
                     {{ spotkanie.obrazki.nazwa }}
                    </div>



                </div>
            </div>
        </div>
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab2">Spotkanie</a></li>

                </ul>

                <div class="tab-content">
                    <div id="tab2" class="tab active">
                        {{ spotkanie.start |date ('H:i')}}
                    </div>


                </div>
            </div>
        </div>
    </div>




{% endblock %}

