{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });

    </script>
    <style>
        form label, form input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        form label {
            width: 30%;
            float: left;
            text-align: right;
            padding: 0% 3% 0% 0%;
            margin-top: 2%;
        }

        form input {
            margin-top: 1%;
            width: 70%;
            float: right;
        }
        form button {
            margin-top: 15%;

        }
    </style>
    <br>
    <br>

    <div class="section group">
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#obrazki">Informacja</a></li>

                </ul>

                <div class="tab-content">
                    <div id="obrazki" class="tab active">
                        Tutaj dodasz nowe zestawy obrazków
                    </div>


                </div>
            </div>
        </div>


        <div class="col span_3_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#dodawanie">Dodaj</a></li>

                </ul>

                <div class="tab-content">
                    <div id="dodawanie" class="tab active">
                        <div class="section group">
                            <div class="cols span_1_of_2">

                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}

                            </div>


                        </div>




                    </div>


                </div>
            </div>
        </div>

    </div>




{% endblock %}

