{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}




    <br>
    <br>
    <br>
    <div class="section group">
        <div class="col span_1_of_3">
            Hello world

        </div>
        <div class="col span_2_of_3">
            {{  render(controller('LogopediaBundle:Default:Artykulacja')) }}

        </div>
    </div>





{% endblock %}

