{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}



    <div class="section group">
        <div class="col span_1_of_3">

            <div class="ui-widget">

                <label for="pacjent">Wyszukaj pacjenta:</label>
                <input id="pacjent">
            </div>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial">
                Result:
                <div id="log" style="height: 200px; width:300px; overflow: auto;" class="ui-widget-content">
                </div>
            </div>

        </div>
        <div class="col span_2_of_3">
           {% include 'LogopediaBundle:Default:calendar.html.twig' %}

        </div>
    </div>




{% endblock %}

